.Logo {
  font-size: 40px;
  font-weight: 900;
}

.LogoBox {
  background-color: var;
}

.LogoClass {
  color: var(--primary)
}

.LogoGrey {
  color: var(--link-hover);
}

.LogoWords {
  color: var(--secondary);
}

.bottomdiv {
  position:absolute;
  left:0;
  bottom:0;
  padding: 25px;
  color: var(--light-grey);
  width: 100%;
}