* {
    box-sizing: border-box;
}

:root {
    --site-background: #f5f5f5;
    --background: white;
    --black: #1E1E1E;
    --primary: #4EC9B0;
    --secondary: #569CD6;
    --link: #a0a08c;
    --link-hover: #555555;
    --light-grey: #e6e6e6;
}

body > div:first-child,
div#__next,
div#__next > div {
    height: 100%;
}

html,
body {
    font-family: Ubuntu, serif;
    background-color: var(--black);
    height: 100%;
}

main {
    height: 100vh;
    display: grid;
    font-family: Ubuntu, serif;
}

h1 {
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: var(--primary)
}

h3 {
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color: var(--black);
    font-family: Ubuntu, serif;
}

blockquote {
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

a:link {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
    text-decoration: none;
}

a:visited {
    color: var(--link);
}

.nav-tabs {
    border-bottom: 0 solid transparent;
}

.tab-pane {
    padding-top: 9px;
}

.tab-content {
    width: 100%
}

.navigation {
    background-color: var(--black);
    min-width: 220px;
    height: 100%;
}

.page-content {
    background-color: var(--site-background);
    height: 100%;
    border-radius: .75rem;
    margin: 15px;
    padding: 15px;
}

.side-navigation-panel *, .side-navigation-panel:after, .side-navigation-panel:before {
    border-color: var(--black);
    border-style: solid;
    border-width: 0;
    box-sizing: border-box
}

.side-navigation-panel ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option {
    --tw-text-opacity: 1;
    align-items: center;
    border-left-width: 2px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: .75rem 1.5rem;
    width: 100%
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option:hover {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: var(--black);
    border-color: var(--link);
    color: var(--link)
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option .side-navigation-panel-select-option-wrap {
    align-items: center;
    display: flex
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option .side-navigation-panel-select-option-wrap .side-navigation-panel-select-option-text {
    font-weight: 500;
    margin-left: 1rem;
    margin-right: 1rem
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option .side-navigation-panel-select-option-icon, .side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option svg {
    display: block;
    vertical-align: middle
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option-selected {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: var(--black);
    border-color: var(--primary);
    color: var(--primary);
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-inner .side-navigation-panel-select-inner-wrap .side-navigation-panel-select-inner-option {
    --tw-text-opacity: 1;
    align-items: center;
    border-left-width: 2px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: .5rem 4rem
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-inner .side-navigation-panel-select-inner-wrap .side-navigation-panel-select-inner-option:hover {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: var(--black);
    border-color: var(--link);
    color: var(--link);
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-inner .side-navigation-panel-select-inner-wrap .side-navigation-panel-select-inner-option .side-navigation-panel-select-inner-option-wrap {
    align-items: center;
    display: flex
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-inner .side-navigation-panel-select-inner-wrap .side-navigation-panel-select-inner-option .side-navigation-panel-select-inner-option-wrap .side-navigation-panel-select-inner-option-text {
    font-size: .875rem;
    line-height: 1.25rem;
    margin-left: .75rem;
    margin-right: .75rem
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-inner .side-navigation-panel-select-inner-wrap .side-navigation-panel-select-inner-option-selected {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: var(--black);
    border-color: var(--primary);
    color: var(--primary);
}

.table {
    display: table
}

@-webkit-keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

@-webkit-keyframes ping {
    75%, to {
        opacity: 0;
        transform: scale(2)
    }
}

@keyframes ping {
    75%, to {
        opacity: 0;
        transform: scale(2)
    }
}

@-webkit-keyframes pulse {
    50% {
        opacity: .5
    }
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

@-webkit-keyframes bounce {
    0%, to {
        -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        transform: translateY(-25%)
    }
    50% {
        -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
        animation-timing-function: cubic-bezier(0, 0, .2, 1);
        transform: none
    }
}

@keyframes bounce {
    0%, to {
        -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        transform: translateY(-25%)
    }
    50% {
        -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
        animation-timing-function: cubic-bezier(0, 0, .2, 1);
        transform: none
    }
}

*, :after, :before {
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000
}